@charset "UTF-8";
/* CSS Document */

/* footer */

footer p, footer li{
    font-size: 10px;
}

footer{
    width: 1024px;
    height: 100px;
    margin: 30px auto;
    position: relative;
    bottom: 0;
}

#foot1{
    margin: 0 auto;
    clear: both;
    float: right;
    padding: 10px 30px 0 0;
    font-size: 12px;
}

#foot2{
    margin: 0 auto;
    float: right;
    clear: both;
    padding: 10px 30px 0 0;
}

#foot2b{
    margin: 0 auto;
    float: right;
    clear: both;
    padding: 10px 30px 0 0;
}

#foot3{
    margin: 0 auto;
    float: right;
    clear: both;
    padding: 10px 30px 0 0;
}

/*bottom Nav */


#secNav{
    display: inline-block;
    text-align: center;
}

#secNav ul li{
    display: inline-block;
    padding: 0 0 0 10px;
    font-weight: bold;
}

#secNav a{
    outline: none;
    text-decoration: none;
    color: #000;
    padding:0 3px;
}

#secNav a{
	text-decoration: none;
	color: #000;
}

#secNav a:link{
	color: #000;
}

#secNav a:hover{
	color: #000;
	background-color: #A2B7CD;
}

#secNav ul{
	list-style-type: none;
}

#designedBy{
    float: right;
}

#mobileToFull{
	display: none;
}
